
####################### THE FILENAME WILL NEED TO BE CHANGED FROM config.env.example TO config.env TO ALLOW THE BOT TO USE THE ENVIRONMENTAL VARIABLES ###############################

# Example MONGO connection string shown. #
# Replace all "<...>" with appropriate data for your cluster #

# MONGO #
MONGO_URI = mongodb+srv://<db_username>:<db_password>@<myclusterapp>.<code>.mongodb.net/?retryWrites=true&w=majority&appName=<MyClusterApp>

