[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
eel = "*"
python-dateutil = "*"
pymongo = "*"
certifi = "*"
selenium = "*"
undetected-chromedriver = "*"
requests = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
